.report-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.report-container h2, h3 {
    font-weight: bold;
}

.report-container p:first-child {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.report-information-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.report-images {
    border-radius: 12px;
    height: 48%;
    object-fit: cover;
}

.report-map {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #d9d9d9;
    height: 40%;
    border-radius: 12px;
    padding: 10px;

    min-width: 15rem;
    max-height: 17rem;

    font-size: 16px;
}