.user-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    position: relative; /* Adicione position relative para criar um contexto de empilhamento */
    z-index: 1; /* Defina um z-index para o elemento pai */

}

.user-image {
    width: 50px;
    border-radius: 50%;
    border: 1px solid white;
}

.user-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.user-name {
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
    line-height: 1;
    font-size: 17px;
}

.user-role {
    color: white;
    font-size: 10;
    line-height: 1;
}

.arrow-item {
    color: white;
    margin-right: 10px;
}

.dropdown-container {
    position: absolute;
    padding: 20px;
    margin-top: 7px;
    width: 223.8px;
    border-top: 1px solid #1D1E23;
    border-radius: 0% 0% 5% 5%;
    border: 1px solid #fff; /* Adicione uma borda de 1 pixel, com cor #1D1E23 */
    background-color: #25252D;
    list-style-type: none;
    z-index: 1;


.active {
    opacity: 1;
    visibility: visible;
}

.inactive {
    opacity: 0;
    visibility: hidden;
}