.card-person-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}
.card-person-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid white;
}
.card-person-role {
  margin-bottom: 0.2rem;
  font-size: 15px;
}
.card-person-name {
  font-weight: bold;
  font-size: 17px;
}